body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
}

.main-header {
  background-color: #f3f7f9;
  min-width: 1280px;
}

.header-top {
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #293449;
}

.header-top a {
  color: #ffffff;
}

.header-logo, .footer-logo {
  display: flex;
  align-items: center;
  width: 140px;
  height: 27.5px;
  padding: 10px 25px 9.5px 55px;
  background-color: #ee3643;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  font-size: 24px;
  margin-left: 130px;
  color: #ffffff;
}

.header-logo:hover, .header-logo:focus, .footer-logo:hover, .footer-logo:focus {
  background-color: #CA2C37;
}

.header-logo:active, .footer-logo:active {
  background-color: #BA2732;
}

.site-search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 253px;
  height: 42px;
}

.site-search-icon {
  content: url("../img/icon-search.svg");
  opacity: 0.3;
  margin: 12px 15px 13px 17px;
}

.site-search-line {
  width: 253px;
  height: 42px;
  background-color: inherit;
  border: 0;
}

input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
  border-radius: 0px;
  font-size: 17px;
}

.site-search-line:hover {
  background-color: #212A3A;
}

.header-bookmarks::before {
  content: url("../img/icon-bookmark.svg");
  margin: 15px 13px 14px 13px;
  opacity: 0.3;
}

.header-bookmarks {
  width: 135px;
  height: 42px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-bookmarks:hover, .header-bookmarks:focus {
  background-color: #212A3A;
}

.header-bookmarks:hover:before, .header-bookmarks:focus:before {
  opacity: 1;
}

.header-bookmarks:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161D29;
}

.header-bookmarks:active:before {
  opacity: 0.5;
}

.bookmarks-count {
  margin-left: 8px;
  margin-right: 8px;
}

.header-basket::before {
  content: url("../img/icon-cart.svg");
  margin: 15px 17px 15px 16px;
  opacity: 0.3;
}

.header-basket {
  display: flex;
  align-items: center;
  width: 150px;
  height: 42px;
  text-decoration: none;
}

.basket-count {
  margin-right: 8px;
  margin-left: 8px;
}

.header-basket:hover, .header-basket:focus {
  background-color: #212A3A;
}

.header-basket:hover:before, .header-basket:focus:before {
  opacity: 1;
}

.header-basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161D29;
}

.header-basket:active:before {
  opacity: 0.5;
}

.header-checkout {
  background-color: #63A63E;
  width: 150px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 130px;
}

.header-checkout:hover, .header-checkout:focus {
  background-color: #5FBB2D;
}

.header-checkout:active {
  background-color: #518534;
}

.header-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 46px 90px 40px 130px;
}

.header-title {
  width: 226px;
  height: 60px;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;
}

.header-number a {
  width: 210px;
  height: 21px;
  font-size: 21px;
  font-style: normal;
  color: #ee3643;
  text-decoration: none;
  border: 3px solid #ffffff;
  padding: 12px 22px 12px 15px;
}

.header-number a::before {
  content: url("../img/icon-phone.svg");
  margin-right: 40px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-address {
  height: 24px;
  margin-bottom: 0;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  color: #32425c;
}

.header-login {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.header-login li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-sign-in {
  width: 121px;
  height: 45px;
  background-color: #ffffff;
  margin-right: 10px;
}

.header-sign-up {
  width: 150px;
  height: 45px;
  background-color: #ffffff;
}

.header-login a {
  color: #000000;
  text-decoration: none;
  font-size: 21px;
}

.header-login a:hover, .header-login a:focus {
  color: #EE3643;
}

.header-login a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-sign-in a, .header-username-button {
  fill: #c5c5c5;
}

.header-sign-in svg {
  margin-right: 14px;
}

.header-username-button-before {
  margin: 0 13px 0 13px;
}

.header-username-button-after {
  margin: 0 10px 0 30px;
}

.header-sign-in a:hover, .header-sign-in a:focus {
  fill: #293449;
}

.header-sign-in a:active {
  fill: #c5c5c5;
}

.header-navigation {
  height: 60px;
  margin: 0 130px 0 130px;
}

.header-site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #32425c;
  font-size: 17px;
}

.header-site-navigation a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  text-decoration: none;
  color: #ffffff;
  padding: 0 37px 0 37px;
}

.header-site-navigation a:hover, .header-site-navigation a:focus {
  background-color: #293449;
}

.header-site-navigation a:active {
  background-color: #1D2739;
  color: rgba(255, 255, 255, 0.5);
}

.social-button {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-button-vk {
  background: #212a3a url("../img/icon-vk.svg") no-repeat 50% 50%;
}

.social-button-facebook {
  background: #212a3a url("../img/icon-fb.svg") no-repeat 50% 50%;
}

.social-button-instagram {
  background: #212a3a url("../img/icon-insta.svg") no-repeat 50% 50%;
}

.social-button:hover, .social-button:focus, .social-button:active {
  background-color: #EE3643;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-close {
  width: 29px;
  height: 29px;
  background-color: transparent;
  border: none;
}

.button-close::after {
  content: url("../img/icon-close.svg");
}

.categories-item {
  width: 300px;
  height: 123px;
}

.categories-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.categories-item a {
  display: flex;
  font-size: 14px;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.categories-item a:hover, .categories-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.categories-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.categories-item {
  color: #ffffff;
}

.categories-item::after {
  position: relative;
  top: 31px
}

.item-materials {
  background-color: #ffbf47;
}

.item-materials::after {
  content: url("../img/icon-1.svg");
}

.item-instruments {
  background-color: #3bbce3;
}

.item-instruments::after {
  content: url("../img/icon-2.svg");
}

.item-technics {
  background-color: #dc91d8;
}

.item-technics::after {
  content: url("../img/icon-3.svg");
}

.item-special-offers {
  background-color: #8ed78f;
}

.item-special-offers::after {
  content: url("../img/icon-4.svg");
}

.item-delivery {
  background-color: #ffc047;
}

.item-delivery::after {
  content: url("../img/icon-5.svg");
}

.new-item .popular-item-image::after {
  content: url("../img/new flag.png");
  position: relative;
  top: -110px;
  left: -65px;
}

.button-buy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 38px;
  font-family: PTSans, sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  background: url("../img/red-button.svg") no-repeat;
  color: #ffffff;
  text-decoration: none;
}

.services-item-delivery::after {
  content: url("../img/delivery-icon.png");
}

.services-item-warranty::after {
  content: url("../img/warranity-icon.png");
}

.services-item-credit::after {
  content: url("../img/credit-icon.png");
}

.services-menu-container {
  display: flex;
  flex-direction: row;
}

.services-menu {
  list-style: none;
}

.services-menu-container {
  display: flex;
  align-items: center;
}

.services-menu-container::after {
  content: url("../img/services-menu-shadow.png");
}

.services-menu button {
  width: 240px;
  height: 61px;
  background-color: #32425c;
  color: #ffffff;
  border-color: #293449;
  font-size: 21px;
}

.services-menu button:hover, .services-menu button:focus {
  background-color: #293449;
}

.services-menu button:active {
  background-color: #ffffff;
  color: #32425C;
}

h2 {
  font-size: 30px;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
}

.about-company p {
  font-family: PTSans, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  color: #000000;
}

.about-company-delivery-items {
  list-style: none;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  color: #000000;
}

.about-company-delivery-items li {
  margin-bottom: 20px;
}

.about-company-delivery-items li::before {
  content: url("../img/marker.svg");
  position: relative;
  bottom: 4px;
  margin-right: 11px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 38px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #EE3643;
}

.button:hover, .button:focus {
  background-color: #CA2C37;
}

.button:active {
  background-color: #BA2732;
}

.contacts-description {
  font-family: PTSans, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  color: #000000;
}

.home-button {
  display: inline-block;
  width: 14px;
  height: 12px;
  background: transparent url("../img/icon-home.svg") no-repeat 50% 50%;
}

.new-item .catalog-item-image::after {
  content: url("../img/new flag.png");
  position: relative;
  top: -110px;
  left: -65px;
}

.add-item-description::before {
  content: url("../img/icon-mark.svg");
  width: 66px;
  height: 66px;
}

.footer-top {
  background-color: #32425c;
}

.footer-logo {
  margin-left: 0;
}

.footer-contacts p, .footer-contacts a {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #f3f7f9;
  text-decoration: none;
}

.footer-site-navigation {
  list-style: none;
}

.footer-site-navigation a {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #f3f7f9;
  text-decoration: none;
}

.footer-site-navigation a:hover, .footer-site-navigation a:focus {
  text-decoration: underline;
}

.footer-site-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-site-navigation-bottom a {
  color: #ffd180;
}

.footer-bottom {
  background-color: #293449;
}

.footer-rights-reserved {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #ffffff;
}

.footer-social ul {
  list-style: none;
}

.footer-feedback b, .footer-copyright b {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #ffffff;
}

.footer-feedback a, .footer-copyright a {
  color: #ffd180;
  text-decoration: none;
}

.footer-feedback a:hover, .footer-copyright a:hover, .footer-feedback a:focus, .footer-feedback a:focus {
  text-decoration: underline;
}

.footer-feedback a:active, .footer-copyright a:active {
  text-decoration: none;
  color: #EE3643;
}

.popular-company-list {
  list-style: none;
}

.popular-items-list {
  list-style: none;
}

.page-description {
  background-color: rgb(243, 246, 248);
}

.page-description p {
  font-family: PTSans, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  color: #000000;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: PTSans, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-transform: uppercase;
}

.pagination-item {
  display: flex;
  margin-right: 10px;
  color: #ffffff;
}

.pagination-item a {
  display: flex;
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
}

.pagination-item a:hover, .pagination-item a:focus {
  border: 1px solid #BDC6CA;
}

.pagination-item a:active {
  border: 1px solid #EE3643;
}

.pagination-item-current {
  background-color: #ee3643;
  padding: 10px 15px;
}

.catalog-list {
  list-style: none;
}

.delete-price {
  font-family: PTSans, sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
}

.catalog-item, .popular-item {
  border: 1px solid #e5e5e5
}

.catalog-list h4 {
  font-family: PTSans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #000000;
}

.sort-container {
  background-color: #f7f3ec;
}

.sort-container > * {
  text-transform: uppercase;
  font-family: PTSans, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #000000;
}

.sort-list {
  list-style: none;
}

.sort-list a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.sort-list a:hover, .sort-list a:focus {
  color: #000000;
}

.sort-list a:active {
  color: #ee3643;
}

.filters {
  text-transform: uppercase;
  font-family: PTSans, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
}

.apply-filters-button {
  text-transform: uppercase;
  font-family: PTSans, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  width: 140px;
  height: 38px;
  background: transparent;
}

.filters ul {
  list-style: none;
}

.filters legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
}

.filters-title {
  background-color: #f7f3ec;
  font-family: PTSans, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #000000;
}

.page-title {
  background-color: #f2f6f8;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #32425c;
}

.breadcrumbs {
  list-style: none;
  text-transform: uppercase;
  font-family: PTSans, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #000000;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000000;
}

.header-basket-full {
  background-color: #ee3643;
}

.header-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header-username-button {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 299px;
  height: 45px;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #000000;
  text-decoration: none;
}

.header-my-account a, .header-my-orders a {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #32425c;
}

.header-profile ul {
  display: flex;
  justify-content: space-around;
  width: 240px;
  height: 18px;
  padding: 0;
  list-style: none;
}

.header-my-account a:hover, .header-my-orders a:hover, .header-my-account a:focus, .header-my-orders a:focus{
  color: #EE3643;
}

.header-my-account a:active, .header-my-orders a:active{
  color: #32425C;
  opacity: 0.3;
}


